:root {
    --cor-branco: #f8f8f8;
    --cor-principal: #DC9760;
    --cor-secundaria: #F0B579;
    --cor-destaque: #F7E6D2;
    --cor-destaque: #DC9760;
    --cor-cinza-escuro-neutro: #383838;
    --cor-secundario-hover: #FFDBC4;
    --cor-bg: #EDEDED
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--cor-bg-)
}

a {
    text-decoration: none
}

.cabecalho {
    background-color: var(--cor-principal);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.cabecalho-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.cabecalho-logo img {
    width: 200px
}

.navegacao ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center
}

.navegacao ul li {
    display: inline;
    margin: 0 15px
}

.navegacao ul li a:hover {
    color: var(--cor-secundario-hover);
    text-decoration: underline;
    transition: .2s
}

.navegacao a {
    color: #fff;
    text-decoration: none
}

.heart i {
    width: 40px
}

.heart i:hover {
    color: red;
    transition: .4s;
    border-bottom: 3px solid red
}

.busca-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 0
}

.barra-busca {
    width: 100%
}

.barra-busca,
.botao-submit {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer
}

.promocao-finder {
    background-color: var(--cor-cinza-escuro-neutro);
    padding: 50px 20px;
    text-align: center;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-branco)
}

.container {
    display: flex;
    width: 100%;
    justify-content: center
}

.container-wel {
    width: 70%;
    text-align: center;
    justify-self: center;
    align-self: center;
    border-right: 5px solid var(--cor-branco)
}

.container-wel-p {
    width: auto;
    text-align: center;
    padding: 50px
}

.promocao-finder h2 {
    font-size: 2em;
    margin-bottom: 20px
}

.promocao-finder p {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.5
}

.btn-explorar {
    display: inline-block;
    background-color: var(--cor-secundaria);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s
}

.btn-explorar:hover {
    background-color: var(--cor-principal)
}

.botao-nav {
    background-color: var(--cor-principal);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000
}

#prev {
    left: 10px
}

#next {
    right: 10px
}

.produtos-destaque {
    max-width: 1200px;
    margin: auto
}

.mensagem-busca {
    text-align: center;
    margin: 20px 0
}

.mensagem-busca h3 {
    font-size: 1.5em;
    color: #333
}

.categorias-container {
    text-align: center;
    margin: 20px 0
}

.botao-categoria {
    margin: 0 10px;
    padding: 10px 15px;
    border: none;
    background-color: var(--cor-secundaria);
    color: #fff;
    border-radius: 5px;
    cursor: pointer
}

.botao-categoria:hover {
    background-color: var(--cor-principal);
    border: 2px solid var(--cor-cinza-escuro-neutro);
    transition: .2s
}

.grid-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px
}

.produto {
    background: #fff;
    border: 2px solid var(--cor-principal);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column
}

.produto-img {
    width: 100%;
    background-color: var(--cor-secundaria)
}

.produto-info {
    width: auto;
    display: grid;
    grid-template-rows: 1fr 20px 20px;
    gap: 20px
}

.produto-preco {
    width: auto
}

.produto a {
    background-color: var(--cor-secundaria);
    padding: 15px;
    color: var(--cor-branco);
    border-radius: 5px;
    text-decoration: none
}

.produto a:hover {
    background-color: var(--cor-principal);
    border: 2px solid var(--cor-cinza-escuro-neutro);
    transition: .2s
}

.imagem-produto {
    width: 100%;
    height: auto;
    border-radius: 5px
}

.rodape {
    background-color: var(--cor-secundaria);
    margin-top: 40px;
    color: var(--cor-cinza-escuro-neutro);
    text-align: center;
    padding: 10px 0;
    width: 100%
}