:root {
    --cor-branco: #f8f8f8;
    --cor-principal: #DC9760;
    --cor-secundaria: #F0B579;
    --cor-destaque: #F7E6D2;
    --cor-destaque: #DC9760;
    --cor-cinza-escuro-neutro: #383838;
    --cor-secundario-hover: #FFDBC4;
    --cor-bg: #EDEDED
}

body {
    background-color: #EDEDED
}

.favoritos {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.favoritos-produtos {
    width: 900px;
    height: auto;
    border-radius: 10px;
    background-color: var(--cor-branco);
    border-bottom: 2px solid #E3E3E3
}

.favoritos-produtos P {
    padding: 10px
}