:root {
    --cor-fundo: #f8f8f8;
    --cor-principal: #007bff;
    --cor-secundaria: #343a40;
    --cor-texto: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
